body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}

/* Títulos */
h1 {
    text-align: center;
    color: #336699;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    color: #f60909;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    color: #a10bdc;
    font-size: 1em;
}

/* Tarjetas */
.card {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Área de texto */
textarea {
    width: 100%;
    height: 100px;
}

/* Botones verdes */
button {
    background-color: rgb(5, 241, 60);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover botón */
button:hover {
    background-color: rgb(0, 200, 50);
    transform: scale(1.05);
}